    <!-- Home view v0.0.1 2026 -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Dome</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="../styles/home.css">
    </head>
    <body class="theme<%=theme%>" style="background: url('/wallpapers/<%= wallpaper %>') no-repeat;background-size: cover;">

        <div class="main-control-panel">
            
            <!-- Top bar -->
            <!-- Side bar -->

            <div class="widget-area">
                <h3>Hello, <%= user %>!</h3>
                
                <!-- Weather Widget -->
                <!-- Music Widget -->
                <!-- Camera Widget -->
                <!-- WiFi devices widget -->
                <!-- Home Assistant Widget -->
                <!-- Air Widget -->
                <!-- Apps Widget -->
                <!-- Leds management Widget -->

            </div>

            <!-- Bottom bar -->
        </div>
    </body>
    </html>